<div class="container-fluid my-5">
  <div class="row mb-2">
    <div class="col-md-6 mx-auto">
      <h3>Bar chart</h3>
      <app-bar-chart [data]="chartData"
        [(update)]="updateFlag"
        (pointClick)="handleClick($event)"></app-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-auto mb-2">
      <input class="form-control" type="number" [(ngModel)]="chartData[2].data[0].y"
        (ngModelChange)="updateFlag = true" />
    </div>
    <div class="col-md-2 mb-2">
      <input class="form-control" type="number" [(ngModel)]="chartData[1].data[0].y"
        (ngModelChange)="updateFlag = true" />
    </div>
    <div class="col-md-2 mr-auto mb-2">
      <input class="form-control" type="number" [(ngModel)]="chartData[0].data[0].y"
        (ngModelChange)="updateFlag = true" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      {{message}}
    </div>
  </div>
</div>
