<div class="d-flex rounded-lg align-items-center overflow-hidden shadow-sm" style="height: 8px;">
<highcharts-chart 
    [Highcharts]="highcharts"
    [options]="options"
    [update]="update"
    (updateChange)="updateChange.emit($event)"
    style="width: 100%; height: 30px; display: block;"
></highcharts-chart>
</div>